{% extends 'base/base.html' %}
{% block content %}
<h2>All Jobs</h2>
{% if job_data %}
    <table>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Opening</th>
            <th>Description</th>
            {% if user.user_type == "Job_Seeker" %}
                <th>Action</th>
            {% endif %}
        </tr>
        {% for job in job_data %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.category }}</td>
            <td>{{ job.opening }}</td>
            <td>{{ job.description|truncatewords:10 }}</td>
            {% if user.user_type == "Job_Seeker" %}
                <td>
                    <a href="{% url 'applyJob' job.id %}" class="btn">Apply</a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No jobs available.</p>
{% endif %}
{% endblock %}